<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Site Name</title>
  </head>
  <body>
    <div id="header">
      <div id="global_links">
      </div>
      <h1>Site Name</h1>
      <div id="tabs">
      </div>
    </div>
    <div id="main">
      <%= flash_message %>
      <div id="left">
	      <%= @flash %>
        <h2 class="head">
          <%= yield(:header) %>
        </h2>
        <div id="screen">
          <%= yield %>
        </div>
      </div>
      <div id="right">
        <%= yield(:sidebar) %>
      </div>
    </div>
    
    <div id="footer">
      &copy; SITE NAME
    </div>
    
  </body>
</html>
